@model Journal3.Models.Record

<link href="/Content/mdDateTimePicker.css" rel="stylesheet">
<script src="/Scripts/moment.min.js"></script>
<script src="/Scripts/draggabilly.pkgd.min.js"></script>
<script src="/Scripts/mdDateTimePicker.js"></script>
<script src="/Scripts/draggabilly.pkgd.min.js"></script>

@{
    String debtWork = "";
    if (Model.DebtWorkDate != null)
    {
        debtWork = Model.DebtWorkDate.Value.ToString("dd.MM.yyyy");
    }
}

<input type="hidden" name="selectedDate" value="@ViewBag.SelectedDate"/>
@if (!Model.IsSystem)
{
    if (User.IsInRole("Admin"))
    {
        <div class="form-group">
            <label class="col-md-2 control-label" for="Comment">Сотрудник</label>
            <div class="col-md-10">
                @Html.DropDownList("UserId", (SelectList)ViewBag.Users, new { @class = "form-control" })
            </div>
        </div>
        
    }
    else
    {
        <input type="hidden" name="UserId" value="@Model.UserId" />
    }

    <div class="input-append date" id="datepicker" data-date-format="dd.mm.yyyy" style="margin-bottom: 15px;">
        <label class="control-label" for="Date" style="display: inline-block;  padding-left: 120px; padding-right: 21px;">Дата</label>
        <input class="form-control" size="16" type="text" name="DateRecord" value="@Model.DateRecord.ToString("dd.MM.yyyy")" readonly="" style="display: inline-block;" />
        <span class="add-on glyphicon glyphicon-calendar"></span>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="TimeRecord">Время</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TimeRecord, String.Format("{0:hh\\:mm\\:ss}", Model.TimeRecord), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="Status">Статус</label>
        <div class="col-md-10">
            <select class="form-control" id="Status" name="Status">
                <option value="1" @(Model.Status == 1 ? "selected='selected'" : "" )>Пришел</option>
                <option value="2" @(Model.Status == 2 ? "selected='selected'" : "" )>Ушел</option>
            </select>
        </div>
    </div>
}
    <div class="form-group">
        <label class="col-md-2 control-label" for="Remark">Примечание</label>
        <div class="col-md-10">
            <select class="form-control" id="Remark" name="Remark">
                <option value="1" @(Model.Remark == 1 ? "selected='selected'" : "" )>Пришел/Ушел</option>
                <option value="2" @(Model.Remark == 2 ? "selected='selected'" : "" )>Выезд по работе</option>
                <option value="3" @(Model.Remark == 3 ? "selected='selected'" : "" )>Отпросился</option>
                <option value="4" @(Model.Remark == 4 ? "selected='selected'" : "" )>Отработка</option>
                <option value="5" @(Model.Remark == 5 ? "selected='selected'" : "" )>Переработка</option>
            </select>
        </div>
    </div>

    <div id="DebtWorkContainer" class=@(Model.Remark != 4 ? "hidden" : "")>
        <div class="input-append date" id="datepickerDebtWorkDate" data-date-format="dd.mm.yyyy" style="margin-bottom: 15px;">
            <label class="control-label" for="DebtWorkDate" style="display: inline-block;  padding-left: 37px; padding-right: 27px;">Дата отработки</label>
            <input class="form-control" size="16" type="text" name="DebtWorkDate" value="@debtWork" readonly="" style="display: inline-block;" />
            <span class="add-on glyphicon glyphicon-calendar"></span>
        </div>
    </div>


<div class="form-group">
    <label class="col-md-2 control-label" for="Comment">Комментарий</label>
    <div class="col-md-10">
        @Html.TextAreaFor(m => m.Comment, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label" for=""></label>
    <div class="col-md-10">
        @Html.CheckBoxFor(m => m.WithoutTimebreak)
        <label for="WithoutTimebreak" style="cursor: pointer;">Без обеда</label>
    </div>
</div>

<link href="/Content/datepicker.css" rel="stylesheet">
<script src="/Scripts/bootstrap-datepicker.js"></script>
<script src="/Scripts/bootstrap-datepicker.ru.js"></script>

<script type='text/javascript'>
    $(function () {
        $('#datepicker').datepicker({
            language: 'ru'
        });
    });

    $(function () {
        $('#datepickerDebtWorkDate').datepicker( {
            language: 'ru'
        });
    });

    $('#Remark').change(DisplayDebtWork);

    function DisplayDebtWork(event) {
        if ($('#Remark').val() == 4)
            $('#DebtWorkContainer').removeClass("hidden");
        else
            $('#DebtWorkContainer').addClass("hidden");
    }

</script>

<script type="text/javascript">
  (function() {
    var a = new mdDateTimePicker.default({
        type: 'time'
    });

    var id = "";

    $('input[name="TimeRecord"]').on('click', setTime);

    function setTime()
    {
        id = $(this).attr('id');

        a.time = moment($(this).val(), 'H:m');
        a.toggle();
        a.trigger = document.getElementById(id);

        document.getElementById(id).addEventListener('onOk', function () {
            $(this).attr("value", a.time.format("HH:mm:ss"));
            this.value = a.time.format("HH:mm:ss");
        });
    }

  }).call(this);
</script>