@model Journal3.Models.Record
@{
    ViewBag.Title = "Запись";
}
@Html.Partial("_HeaderPartial")

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.Partial("_EditPartial")

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="Add" type="button" class="btn btn-primary" value="Добавить" />
        </div>
    </div>
}
@Html.Partial("_FooterPartial")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type='text/javascript'>
    $("#Add").click(DisplayDebtWork);

    function DisplayDebtWork(event) {
        if ($("input[name='Remark']:checked").val() == 4) {
            if ($("input[name='DebtWorkDate']").val() == "") {
                alert("Заполните дату отработки");
                this.type = "button";
                return;
            }
            else {
                this.type = "submit";
            }
        }
        else {
            this.type = "submit";
        }
    }
</script>