@model IEnumerable<Journal3.ViewModels.JournalViewModel>
@{
    int i = 1;
}

<link href="/Content/datepicker.css" rel="stylesheet">
<script src="/Scripts/bootstrap-datepicker.js"></script>
<script src="/Scripts/bootstrap-datepicker.ru.js"></script>

<br>
<div>
    <span class="fileStatus">@ViewBag.FileStatus</span>
</div>
<br>
<div class="row">
    <form action="/Home/DayStats" method="post" role="form" class="form-inline" id="getByDate" style="margin-left: 15px;">
        
            <div class="input-append date" id="datepicker" data-date-format="dd.mm.yyyy">
                <a href="@Url.Action("DayStats","Home", new { selectedDate = ViewBag.PreviousDate })" class="btn btn-primary" title="Предыдущий">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style=""></span>
                </a>
                <input class="form-control" size="16" type="text" name="selectedDate" id="selectedDate" value="@ViewBag.SelectedDate.ToString("dd.MM.yyyy")" readonly="" style="width: 150px;"/>
                <span class="add-on glyphicon glyphicon-calendar"></span>
                <a href="@Url.Action("DayStats","Home", new { selectedDate = ViewBag.NextDate })" class="btn btn-primary" title="Следующий">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style=""></span>
                </a>
            </div>
        
    </form>
</div>

<table class="table table-hover customTheme table-striped table-bordered" style="width:auto; @(User.IsInRole("Admin") ? "font-size:10pt;" : "")">
    <thead>
        <tr class="tabcolor">
            <th scope="row">№</th>
            <th scope="row">@Html.ActionLink("ФИО", "DayStats", new { selectedDate = ViewBag.SelectedDate, sortOrder = "name" }, new { @class = "whiteText" })</th>
            <th scope="row">@Html.ActionLink("Пришел", "DayStats", new { selectedDate = ViewBag.SelectedDate, sortOrder = "come" }, new { @class = "whiteText" })</th>
            <th scope="row">@Html.ActionLink("Ушел", "DayStats", new { selectedDate = ViewBag.SelectedDate, sortOrder = "gone" }, new { @class = "whiteText" })</th>
            <th scope="row">@Html.ActionLink("График работы", "DayStats", new { selectedDate = ViewBag.SelectedDate, sortOrder = "workschedule" }, new { @class = "whiteText" })</th>
            <th scope="row">@Html.ActionLink("Выезды", "DayStats", new { selectedDate = ViewBag.SelectedDate, sortOrder = "outForWork" }, new { @class = "whiteText" })</th>
            <th scope="row">@Html.ActionLink("Отпр.", "DayStats", new { selectedDate = ViewBag.SelectedDate, sortOrder = "byPermission" }, new { @class = "whiteText" })</th>
            <th scope="row">@Html.ActionLink("Отраб.", "DayStats", new { selectedDate = ViewBag.SelectedDate, sortOrder = "debthWork" }, new { @class = "whiteText" })</th>
            <th scope="row">@Html.ActionLink("Переработ.", "DayStats", new { selectedDate = ViewBag.SelectedDate, sortOrder = "overWork" }, new { @class = "whiteText" })</th>
            <th scope="row">@Html.ActionLink("Итого часов", "DayStats", new { selectedDate = ViewBag.SelectedDate, sortOrder = "totalTime" }, new { @class = "whiteText" })</th>
            
            @if (User.IsInRole("Admin"))
            {
                <th scope="row">@Html.ActionLink("Система", "DayStats", new { selectedDate = ViewBag.SelectedDate, sortOrder = "isSystem" }, new { @class = "whiteText" })</th>
                <th scope="row">Примечание</th>
                <th scope="row">
                </th>
            }
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @i)
                </td>
                <td>
                    @item.User.UserInfo.Name
                </td>
                <td>
                    @{
                        string comeColor = "";
                        if (User.IsInRole("Admin") && item.Come.IsProblem)
                        {
                            if (item.Come.IsForgiven)
                            {
                                comeColor = "color: green;";
                            }
                            else
                            {
                                comeColor = "color: red;";
                            }
                        }
                    }
                    <span style="@comeColor">@String.Format("{0:hh\\:mm\\:ss}", item.Come.Time)</span>
                </td>
                <td>
                    @{
                        string goneColor = "";
                        if (User.IsInRole("Admin") && item.Gone.IsProblem)
                        {
                            if (item.Gone.IsForgiven)
                            {
                                goneColor = "color: green;";
                            }
                            else
                            {
                                goneColor = "color: red;";
                            }
                        }
                    }
                    <span style="@goneColor">@String.Format("{0:hh\\:mm\\:ss}", item.Gone.Time)</span>
                </td>
                <td>
                    @item.WorkSchedule.Name
                </td>
                <td style="text-align: center;">
                    @if (item.OutForWorkTime != TimeSpan.Zero)
                    {
                        <span>@String.Format("{0:h\\:mm}", item.OutForWorkTime)</span>
                    }
                </td>
                <td style="white-space: nowrap; text-align: center;">
                    @if (item.ByPermissionTime != TimeSpan.Zero || item.ByPermissionForgivenTime != TimeSpan.Zero)
                    {
                        <span style="color: red;">@String.Format("{0:h\\:mm}", item.ByPermissionTime)</span><span> / </span>
                        <span>@String.Format("{0:h\\:mm}", item.ByPermissionForgivenTime)</span>
                    }
                </td>
                <td style="white-space: nowrap; text-align: center;">
                    @if (item.MinusDebtWorkTime != TimeSpan.Zero || item.PlusDebtWorkTime != TimeSpan.Zero)
                    {
                        <span style="color: red;">-@String.Format("{0:h\\:mm}", item.MinusDebtWorkTime)</span><span> / </span>
                        <span style="color: green;">+@String.Format("{0:h\\:mm}", item.PlusDebtWorkTime)</span>
                    }
                </td>
                <td style="text-align: center;">
                    @if (item.OverWorkTime != TimeSpan.Zero)
                    {
                        <span>@String.Format("{0:h\\:mm}", item.OverWorkTime)</span>
                    }
                </td>
                <td style="font-weight: bold; text-align: center;">
                    @if (item.TotalTime != TimeSpan.Zero)
                    {
                        <span>@(item.TotalTime > TimeSpan.Zero ? "" : " - ")@String.Format("{0:h\\:mm}", item.TotalTime)</span>
                    }
                        
                </td>
                 @if (User.IsInRole("Admin"))
                {
                    <td style="text-align: center;">
                        @if (item.IsSystem)
                        {
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        }
                    </td>
                    <td>
                        @if (item.Come.IsProblem || item.Gone.IsProblem)
                        {
                            string colorText = "";
                            colorText = (item.Come.IsForgiven ? "color: green;" : "color: red;");
                            <span style="@colorText">@item.Come.Comment</span>
                            if (item.Come.Comment != "")
                            {
                                <br />
                            }
                            colorText = (item.Gone.IsForgiven ? "color: green;" : "color: red;");
                            <span style="@colorText">@item.Gone.Comment</span>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Index", "Home", new {selectedDate = @ViewBag.SelectedDate, userId = item.User.Id})" class="btn" style="margin-left: 15px; font-size: 10pt;" target="_blank" title="Перейти">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true" style="margin-right: 10px;"></span>
                        </a>
                    </td>
                }
            </tr>
            i++;
        }
    </tbody>
</table>

<script type='text/javascript'>
        $(function () {
            $('#datepicker').datepicker({
                language: 'ru'
            });
        });

        $('#selectedDate').change(function () {
            $('#getByDate').submit();
        });

</script>