@model Journal3.Models.Record
@{
    ViewBag.Title = "Удалить запись из журнала";
}

@Html.Partial("_HeaderPartial")
<h4>Вы действительно хотите удалить выбранную запись из журнала?</h4>

<table class = "table customTheme" style="width:auto;" >
    <thead>
        <tr class="tabcolor alignCenter">
            <th scope="row">Поле</th>
            <th scope="row">Значение</th>
        </tr>
    </thead>
    <tr>
        <td style="font-weight:bold;">Сотрудник</td>
        <td>@Html.DisplayFor(model => model.User.UserInfo.Name)</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Дата создния</td>
        <td>@Html.DisplayFor(model => model.DateCreated)</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Дата</td>
        <td>@Model.DateRecord.ToString("dd.MM.yyyy")</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Время</td>
        <td>@String.Format("{0:hh\\:mm}", Model.TimeRecord)</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Статус</td>
        <td>
            @switch (Model.Status)
            {
                case 1:
                    <p>Пришел</p>
                    break;
                case 2:
                    <p>Ушел</p>
                    break;
            }
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Примечание</td>
        <td>
            @switch (Model.Remark)
            {
                case 1:
                    <p>
                        Пришел/Ушел
                    </p>
                    break;
                case 2:
                    <p>
                        Выезд по работе
                    </p>
                    break;
                case 3:
                    <p>
                        Отпросился
                    </p>
                    break;
                case 4:
                    <p>
                        Отработка
                    </p>
                    break;
                case 5:
                    <p>
                        Переработка
                    </p>
                    break;
                case 6:
                    <p>
                        Больничный
                    </p>
                    break;
            }
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Комментарий</td>
        <td>@Html.DisplayFor(model => model.Comment)</td>
    </tr>
</table>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Удалить" />
        </div>
    </div>
}

@Html.Partial("_FooterPartial")

