@model Journal3.Models.Record
@{
    ViewBag.Title = "Редактировать запись";
}

@Html.Partial("_HeaderPartial")

@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    if (User.IsInRole("Admin"))
    {
        <div class="form-group">
            <label class="col-md-2 control-label" for="WorkSchedule">График работы</label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.WorkScheduleId, (SelectList)ViewBag.WorkSchedule, new { @class = "form-control" })
            </div>
        </div>
    }
    @Html.Partial("_EditPartial")


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="Edit" type="button" class="btn btn-default" value="Редактировать" />
        </div>
    </div>
}

@Html.Partial("_FooterPartial")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type='text/javascript'>
    $("#Edit").click(DisplayDebtWork);

    function DisplayDebtWork(event) {
        if ($("input[name='Remark']:checked").val() == 4) {
            if ($("input[name='DebtWorkDate']").val() == "") {
                alert("Заполните дату отработки");
                this.type = "button";
                return;
            }
            else {
                this.type = "submit";
            }
        }
        else {
            this.type = "submit";
        }
    }
</script>