@model IEnumerable<Journal3.ViewModels.RecordViewModel>

<link href="/Content/datepicker.css" rel="stylesheet">
<script src="/Scripts/bootstrap-datepicker.js"></script>
<script src="/Scripts/bootstrap-datepicker.ru.js"></script>

<br>
<br>
<div class="row">
    <form action="/Home/Index" method="post" role="form" class="form-inline" id="getByDate" style="margin-left: 15px;">
        <div class="input-append date" id="datepicker" data-date-format="dd.mm.yyyy" style="display: inline-block;">
            <a href="@Url.Action("Index","Home", new { selectedDate = ViewBag.PreviousDate, userId = ViewBag.UserId })" class="btn btn-primary" title="Предыдущий">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style=""></span>
            </a>
            <input class="form-control" size="16" type="text" name="selectedDate" id="selectedDate" value="@ViewBag.SelectedDate.ToString("dd.MM.yyyy")" readonly="" style="width: 150px;"/>
            <span class="add-on glyphicon glyphicon-calendar"></span>
            <a href="@Url.Action("Index","Home", new { selectedDate = ViewBag.NextDate, userId = ViewBag.UserId })" class="btn btn-primary" title="Следующий">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style=""></span>
            </a>
                     
        </div>
        @if (User.Identity.IsAuthenticated)
            {
            <a href="@Url.Action("Create", "Home", new {selectedDate = ViewBag.SelectedDate, userId = ViewBag.UserId})" class="btn btn-primary" style="margin-left: 15px;">
                <span class="glyphicon glyphicon-time" aria-hidden="true" style="margin-right: 10px;"></span>Запись
            </a>
        }
        
        @if (User.IsInRole("Admin"))
        {
            @Html.DropDownList("userId", (SelectList)ViewBag.User, "Все", new { @class = "form-control inlineDropdown" })
        }
        else
        {
            <input type="hidden" name="userId" value="@ViewBag.UserId" />
        } 
    </form>
</div>

<table class="table table-hover customTheme table-striped" style="width:auto; @(User.IsInRole("Admin") ? "font-size:9pt;" : "")">
    <thead>
        <tr class="tabcolor alignCenter">
            <th scope="row">Время</th>
            <th scope="row">ФИО</th>
            <th scope="row">Статус</th>
            <th scope="row">Примечание</th>
            <th scope="row">Комментарий</th>
            @if (User.IsInRole("Admin"))
            {
                <th scope="row">График работы</th>
                <th scope="row">Дата создания</th>
                <th scope="row">Система</th>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string itemClass = "";
            if (User.IsInRole("Admin"))
            {
                if (item.IsConfirmed == false)
                {
                    itemClass += "notConfirmed";
                }
                if (item.IsLate == true)
                {
                    itemClass += " late";
                }
                if (item.IsForgiven == true)
                {
                    itemClass += " forgiven";
                }
            }
            <tr class="@itemClass">
                <td>
                    <span style="font-size: 11pt; font-weight: bold;">@String.Format("{0:hh\\:mm}", item.TimeRecord)</span>
                </td>
                <td>
                    @item.User.UserInfo.Name
                </td>
                <td style="white-space: nowrap;">
                    
                    @if (item.Status == 1)
                    {
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    }
                    @item.StatusName                
                </td>
                <td  style="white-space: nowrap;">
                    @{
                        string permissionClass = "";
                        if (item.Remark == 3)
                        {
                            if (item.IsForgiven)
                            {
                                permissionClass += "permission forgivenPermission";
                            }
                            else
                            {
                                permissionClass = "permission";
                            }
                        }
                    }

                    <span class="@permissionClass"> @item.RemarkName</span>   
                        @(item.Remark == 4 && item.DebtWorkDate != null ? item.DebtWorkDate.Value.ToString("dd.MM.yyyy") : "")
                </td>
                <td class="col-md-2">
                    @item.Comment
                </td>

                @if (User.IsInRole("Admin"))
                {
                    <td  style="white-space: nowrap;">
                        @item.WorkSchedule.Name
                    </td>
                    <td>
                        @item.DateCreated
                    </td>
                    <td style="text-align: center;">
                        @if (item.IsSystem)
                        {
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        }
                    </td>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <td style="font-size: 11pt; white-space: nowrap;">
                        <input type="hidden" name="recordId" value="@item.Id"/>
                        @if (User.IsInRole("Admin") || User.Identity.Name == item.User.UserName)
                        {
                            <a href="@Url.Action("Edit", "Home", new {id = item.Id, selectedDate = ViewBag.SelectedDate})" title="Редактировать"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="margin-right: 10px;"></span></a>
                            if (!item.IsSystem)
                            {
                                <a href="@Url.Action("Delete", "Home", new {id = item.Id})" title="Удалить"><span class="glyphicon glyphicon-trash" aria-hidden="true" style="margin-right: 10px;"></span></a>
                            }
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            if (!item.IsSystem)
                            {
                                if (item.IsConfirmed)
                                {
                                    <span class="glyphicon glyphicon-thumbs-up btn-link confirm" aria-hidden="true" style="margin-right: 10px;" title="Утвердить?"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-thumbs-down btn-link confirm" aria-hidden="true" style="margin-right: 10px;" title="Утвердить?"></span>
                                }
                            }

                            if (item.IsLate || item.Remark == 3)
                            {
                                <span class="glyphicon glyphicon-gift btn-link forgive" aria-hidden="true" style="margin-right: 10px;" title="Простить?"></span>
                            }
                        }

                    </td>
                }
                    
            </tr>
        }
        @if (User.IsInRole("Admin"))
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align:right;">
                    <button class="btn btn-primary" id="ConfirmAll" title="Утвердить все">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-primary" id="ForgiveAll" title="Простить все">
                        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type='text/javascript'>
    $(function () {
        $('#datepicker').datepicker({
            language: 'ru'
        });
    });

    $('#selectedDate').change(function () {
        $('#getByDate').submit();
    });

    $('#userId').change(function () {
        $('#getByDate').submit();
    });

    $('.confirm').click(ConfirmRecord);

    function ConfirmRecord(event) {
        var id = $(this).parent().children("input[name=recordId]").val();

        $.get('/Home/ConfirmRecord', { recordId: id}).done(
                function () {
                });
        $(this).toggleClass("glyphicon-thumbs-down");
        $(this).toggleClass("glyphicon-thumbs-up");
        $(this).parent().parent().toggleClass("notConfirmed");
    }

    $('#ConfirmAll').click(ConfirmAllRecords);

    function ConfirmAllRecords(event) {
        var selectedDate = $("#selectedDate").val();
        var userId = $("#userId").val();

        $.get('/Home/ConfirmAll', { date: selectedDate, userId: userId}).done(
                function () {
                });

        $(".glyphicon-thumbs-down").each(function() {
            $(this).toggleClass("glyphicon-thumbs-down");
            $(this).toggleClass("glyphicon-thumbs-up");
            $(this).parent().parent().toggleClass("notConfirmed");
        });
    }

    $('.forgive').click(ForgiveRecord);

    function ForgiveRecord(event) {
        var id = $(this).parent().children("input[name=recordId]").val();

        $.get('/Home/ForgiveRecord', { recordId: id }).done(
                function () {
                });
        $(this).parent().parent().toggleClass("forgiven");
        $(this).parent().parent().find(".permission").toggleClass("forgivenPermission");
    }

    $('#ForgiveAll').click(ForgiveAllRecords);

    function ForgiveAllRecords(event) {
        var selectedDate = $("#selectedDate").val();
        var userId = $("#userId").val();

        $.get('/Home/ForgiveAll', { date: selectedDate, userId: userId }).done(
                function () {
                });

        $(".late").each(function () {
            $(this).addClass("forgiven");
        });

        $(".permission").each(function () {
            $(this).addClass("forgivenPermission");
        });
    }

</script>
