@model IEnumerable<Journal3.ViewModels.MonthHoursViewModel>
@{
    int i = 1;
    ViewBag.Title = "Итоги по часам";
}

<link href="/Content/datepicker.css" rel="stylesheet">
<script src="/Scripts/bootstrap-datepicker.js"></script>
<script src="/Scripts/bootstrap-datepicker.ru.js"></script>
<script src="/Scripts/jquery.fixedheadertable.js"></script>

<h2>@ViewBag.Title</h2>

<hr />
<div class="row">
    <form action="/Home/MonthHoursReview" method="post" role="form" class="form-inline" id="show" style="margin-left: 15px;">
        <a href="@Url.Action("MonthHoursReview","Home", new {  startDate = ViewBag.PreviousStartDate, endDate = ViewBag.PreviousEndDate })" class="btn btn-primary" title="Предыдущий">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style=""></span>
        </a>
        <div class="input-append date" id="datepicker1" data-date-format="dd.mm.yyyy" style="display: inline-block;">
            <input class="form-control" size="16" type="text" name="startDate" id="startDate" value="@ViewBag.StartDate.ToString("dd.MM.yyyy")" readonly="" style="width: 150px;" />
            <span class="add-on glyphicon glyphicon-calendar"></span>
        </div>
        <span style="margin: 0 5px;">-</span>
        <div class="input-append date" id="datepicker2" data-date-format="dd.mm.yyyy" style="display: inline-block;">
            <input class="form-control" size="16" type="text" name="endDate" id="endDate" value="@ViewBag.EndDate.ToString("dd.MM.yyyy")" readonly="" style="width: 150px;" />
            <span class="add-on glyphicon glyphicon-calendar"></span>
        </div>
        <a href="@Url.Action("MonthHoursReview","Home", new { startDate = ViewBag.NextStartDate, endDate = ViewBag.NextEndDate })" class="btn btn-primary" title="Следующий">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style=""></span>
        </a>

        <div style="display: inline-block; margin-top: 15px; padding-left: 15px;">
            <input type="submit" value="Показать" class="btn btn-primary" />
        </div>


    </form>
</div>

<div class="fixed-table-container">
    <table class="table-hover table-striped table-fixed table-bordered customTheme" id="main-table">
        <thead>
            <tr class="tabcolor">
                <th scope="row">№</th>
                <th scope="row">@Html.ActionLink("ФИО", "MonthHoursReview", new { startDate = ViewBag.StartDate, endDate = ViewBag.EndDate, sortOrder = "name" }, new { @class = "whiteText" })</th>
                <th scope="row">@Html.ActionLink("Опоздания (кол-во)", "MonthHoursReview", new { startDate = ViewBag.StartDate, endDate = ViewBag.EndDate, sortOrder = "late" }, new { @class = "whiteText" })</th>
                <th scope="row">@Html.ActionLink("Уходы раньше времени (кол-во)", "MonthHoursReview", new { startDate = ViewBag.StartDate, endDate = ViewBag.EndDate, sortOrder = "earlyGone" }, new { @class = "whiteText" })</th>
                <th scope="row">@Html.ActionLink("Выезды по работе", "MonthHoursReview", new { startDate = ViewBag.StartDate, endDate = ViewBag.EndDate, sortOrder = "outForWork" }, new { @class = "whiteText" })</th>
                <th scope="row">@Html.ActionLink("Отпр.", "MonthHoursReview", new { startDate = ViewBag.StartDate, endDate = ViewBag.EndDate, sortOrder = "byPermission" }, new { @class = "whiteText" })</th>
                <th scope="row">@Html.ActionLink("Отработка", "MonthHoursReview", new { startDate = ViewBag.StartDate, endDate = ViewBag.EndDate, sortOrder = "debtWork" }, new { @class = "whiteText" })</th>
                <th scope="row">@Html.ActionLink("Переработка", "MonthHoursReview", new { startDate = ViewBag.StartDate, endDate = ViewBag.EndDate, sortOrder = "overWork" }, new { @class = "whiteText" })</th>
                <th scope="row">@Html.ActionLink("Больничный", "MonthHoursReview", new { startDate = ViewBag.StartDate, endDate = ViewBag.EndDate, sortOrder = "sickLeave" }, new { @class = "whiteText" })</th>
                <th scope="row">@Html.ActionLink("Итого часов", "MonthHoursReview", new { startDate = ViewBag.StartDate, endDate = ViewBag.EndDate, sortOrder = "totalHours" }, new { @class = "whiteText" })</th>
            </tr>
        </thead>
        <tbody>
            <tr><td></td></tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @i)
                    </td>
                    <td style="white-space: nowrap;">
                        @item.Name
                    </td>
                    <td class="alignCenter" style="width: 100px;">
                        <span style="color: red;">@(item.LateHours != 0 ? item.LateHours.ToString() : "")</span>
                        <span style="color: green;">@(item.LateForgivenHours != 0 ? " / " + item.LateForgivenHours.ToString() : "")</span>
                    </td>
                    <td class="alignCenter" style="width: 100px;">
                        <span style="color: red;"> @(item.EarlyGoneHours != 0 ? item.EarlyGoneHours.ToString() : "")</span>
                        <span style="color: green;">@(item.EarlyGoneForgivenHours != 0 ? " / " + item.EarlyGoneForgivenHours.ToString() : "")</span>
                    </td>
                    <td class="alignCenter" style="width: 100px;">
                        @(item.OutForWorkHours != 0 ? item.OutForWorkHours.ToString() : "")
                    </td>
                    <td class="alignCenter" style="width: 100px;">
                        <span style="color: red;">@(item.ByPermissionHours != 0 ? item.ByPermissionHours.ToString() : "")</span>
                        <span style="color: green;"> @(item.ByPermissionForgivenHours != 0 ? " / " + item.ByPermissionForgivenHours.ToString() : "")</span>
                    </td>
                    <td class="alignCenter" style="width: 100px;">
                        @(item.DebtWorkHours != 0 ? item.DebtWorkHours.ToString() : "")
                    </td>
                    <td class="alignCenter" style="width: 100px;">
                        @(item.OverWorkHours != 0 ? item.OverWorkHours.ToString() : "")
                    </td>
                    <td class="alignCenter" style="width: 100px;">
                        @(item.SickLeaveHours != 0 ? item.SickLeaveHours.ToString() : "")
                    </td>
                    <td style="font-weight: bold; width: 100px;">
                        @item.TotalHours
                    </td>
                </tr>
                i++;
            }

        </tbody>
    </table>
</div>
    <script type='text/javascript'>
        $(function () {
            $('#datepicker1').datepicker({
                language: 'ru',
                weekStart: 1
            });
        });

        $(function () {
            $('#datepicker2').datepicker({
                language: 'ru',
                weekStart: 1
            });
        });

        $('#main-table').fixedHeaderTable({
            footer: true,
            altClass: 'odd',
        });

    </script>
