@{ 
    if (ViewBag.Date == null)
    {
        ViewBag.Date = DateTime.Now;
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Журнал</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!--Styles.Render("~/Less/datepicker")
    Styles.Render("~/Less/build")
    Styles.Render("~/Less/build_standalone")-->

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Статистика", "DayStats", "Home")</li>
                    <li>@Html.ActionLink("Статистика за месяц", "MonthReview", "Home")</li>
                    <li>@Html.ActionLink("Роли", "Index", "Roles")</li>
                    <li>@Html.ActionLink("График работы", "Index", "WorkSchedules")</li>
                    <li>@Html.ActionLink("Пользователи", "Index", "Users")</li>
                    <li>@Html.ActionLink("Файл", "Index", "Settings")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="jumbotron">
            <h1>Журнал - @(ViewBag.SelectedDate != null ? ViewBag.SelectedDate.ToString("dd.MM.yyyy") : DateTime.Now.ToString("dd.MM.yyyy"))</h1>
        </div>
        <div class="container" style="background-color:#fff; padding-left: 50px; padding-right: 50px; padding-bottom: 15px;">
        @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Akforta Copyright</p>
        </footer>
    </div>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
