@model Journal3.ViewModels.WorkScheduleViewModel
@{
    ViewBag.Title = "Добавить график работы";
}
@Html.Partial("_HeaderPartial")

@using (Html.BeginForm("Create", "WorkSchedules", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.Partial("_EditPartial")
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Добавить" />
        </div>
    </div>
}

@Html.Partial("_FooterPartial")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}