@model Journal3.Models.RegisterViewModel

<div class="form-group">
    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Key, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Key, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.UserRoles, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownList("UserRoles", (SelectList)ViewBag.UserRole, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.WorkSchedules, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.WorkSchedules, (SelectList)ViewBag.WorkSchedule, new { @class = "form-control" })
    </div>
</div>

