@model Journal3.Models.RegisterViewModel
@{
    ViewBag.Title = "Удалить пользователя";
}

@Html.Partial("_HeaderPartial")
<h4>Вы уверены, что хотите удалить пользователя @Model.UserName?</h4>

<table class="table customTheme" style="width:auto;">
    <thead>
        <tr class="tabcolor alignCenter">
            <th scope="row">Поле</th>
            <th scope="row">Значение</th>
        </tr>
    </thead>
    <tr>
        <td style="font-weight:bold;">ФИО</td>
        <td>@Html.DisplayFor(model => model.UserName)</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Роль</td>
        <td>@ViewBag.UserRole</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">График работы</td>
        <td>@ViewBag.WorkSchedule</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Ключ</td>
        <td>@Html.DisplayFor(model => model.Key)</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Электронный адрес</td>
        <td>@Html.DisplayFor(model => model.Email)</td>
    </tr>
</table>

@using (Html.BeginForm())
{
    @Html.Hidden("id", (string)ViewBag.UserId, new { @class = "form-control" });
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Удалить" />
        </div>
    </div>
}

@Html.Partial("_FooterPartial")