@model Journal3.Models.RegisterViewModel
@{
    ViewBag.Title = "Редактировать пользователя - " + Model.UserName;
}

@Html.Partial("_HeaderPartial")

@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.Partial("_EditPartial")

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <p class="col-md-1 control-label" style="display: block;">@Model.Email</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <a href="@Url.Action("ResetPasswordMail", "Account", new { userId = Model.UserId})" target="_blank">Новый пароль</a>
        </div>
    </div>


    @Html.Hidden("id", (string)ViewBag.UserId);

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Редактировать" />
        </div>
    </div>
}

@Html.Partial("_FooterPartial")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}