@model IEnumerable<Journal3.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Пользователи";
    int i = 1;
}
<h2>@ViewBag.Title</h2>

<hr />
<a href="/Users/Create">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Добавить пользователя
</a>
<table class="table table-hover customTheme" style="width:auto;">
    <thead>
        <tr class="tabcolor">
            <th scope="row">№</th>
            <th scope="row">ФИО</th>
            <th scope="row">Электронный адрес</th>
            <th scope="row">График работы</th>
            <th scope="row">Ключ</th>
            <th scope="row">Роль</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @i)
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @if (item.WorkSchedule != null)
                    {
                        @item.WorkSchedule.Name;
                    }
                </td>
                <td>
                    @item.Key
                </td>
                <td>
                    @item.Role
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Users", new {id = item.UserId})" title="Редактировать"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="margin-right: 10px;"></span></a>
                    <a href="@Url.Action("Delete", "Users", new {id = item.UserId})" title="Удалить"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-right: 10px;"></span></a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>